---
- name: Install ASDF plugins
  command: asdf plugin add {{ item }}
  loop:
    - bun
    - gradle
    - kotlin
    - java
  changed_when: false
  ignore_errors: yes # In case the plugin is already installed

- name: Install with ASDF
  command: asdf install {{ item }}
  loop:
    # - java openjdk-17
    - java openjdk-21
    - bun latest
    # - gradle latest
    - kotlin latest
  changed_when: false

- name: Set latest Bun as global version
  command: asdf set {{ item }}
  loop:
    # - java openjdk-17
    - bun latest
    # - gradle latest
    - kotlin latest
  changed_when: false

- name: Refresh ASDF shims
  command: asdf reshim
  changed_when: false
#- name: Install global Bun packages
#  command: bun install -g {{ item }}
#  loop: "{{ bun_packages }}"
#  changed_when: false
